@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic');

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

input, button {
  font-family: inherit;
}

.main-header {
  width: 100%;
  height: 100px;
  background-color: #0f2135;
  position: sticky;
}

.main-header__container {
  max-width: 1366px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.main-header__logo-image {
  width: 140px;
}

.main-header__menu-button {
  display: none;
}

.main-header__menu-list {
  display: flex;
}

.main-header__menu-item {
  padding-right: 54px;
  list-style-type: none;
}

.main-header__menu-item:last-child {
  padding-right: 0;
}

.main-header__menu-item a {
  padding: 33px 0;
  border-bottom: 8px solid transparent;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.main-header__menu-item a:hover {
  border-bottom: 8px solid #e43898;
  box-shadow: inset 0 -36px 10px -36px #e43898;
}

.main-header__menu-item a:active {
  color: #e43898;
}

.about {
  width: 100%;
  min-height: 436px;
  background: url(../images/wpapers-white-and-blue.jpg) no-repeat;
  background-size: cover;
}

.about__container {
  max-width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 99px;
}

.about__title {
  margin: 0 0 33px 0;
  color: #0f2135;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.about__description {
  max-width: 769px;
  margin: 0 0 31px 0;
  color: #0f2135;
  font-size: 28px;
  text-align: center;
}

.about__button {
  width: 225px;
  height: 58px;
  background-color: #e43898;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.about__button:hover {
  background-color: #9f0e60;
}

.products {
  width: 100%;
  background-color: #f2f4f5;
}

.products__container {
  max-width: 1366px;
  min-height: 616px;
  margin: 0 auto;
  padding: 73px 100px 79px;
  box-sizing: border-box;
  overflow: hidden;
}

.products__title {
  margin: 0 0 30px 0;
  color: #0f2135;
  font-size: 30px;
  font-weight: bold;
}

.products__slider {
  display: none;
}

.products__wrapper {
  display: flex;
  justify-content: space-between;
}

.products__case {
  max-width: 352px;
  height: 397px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(15, 33, 53, 0.11);
}

.products__case-image {
  width: 100%;
  height: 163px;
  background: url(../images/product-1.jpg) no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.products__case-wrapper {
  padding: 20px 25px 0 25px;
  box-sizing: border-box;
}

.products__case-date {
  margin-bottom: 11px;
  font-size: 14px;
  color: #7f8d9c;
}

.products__case-title {
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #0f2135;
}

.products__case-description {
  max-width: 302px;
  font-size: 14px;
  line-height: 1.43;
  color: #0f2135;
  word-wrap: break-word;
}

.products__case-read-more {
  height: 63px;
  display: block;
  padding: 22px 0 0 25px;
  background: url('../images/arrow-right.svg') no-repeat;
  background-position: 95% 50%;
  border: none;
  border-top: 1px solid #f2f4f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #7f8d9c;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

.products__case-read-more:hover {
  background: url('../images/arrow-right-hover.svg') no-repeat;
  background-position: 95% 50%;
  color: #e43898;
}

.main-footer {
  width: 100%;
  min-height: 340px;
  background-color: #ffffff;
}

.main-footer__container {
  max-width: 1366px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 100px;
}

.main-footer__information {
  max-width: 523px;
  margin-right: 119px;
  padding-top: 75px;
  box-sizing: border-box;
}

.main-footer__information-title {
  margin: 0;
  color: #0f2135;
  font-size: 22px;
  line-height: 1.45;
}

.main-footer__information-notice {
  margin: 65px 0 0 0;
  color: #7f8d9c;
  font-size: 14px;
  line-height: 1.43;
}

.main-footer__subscribe {
  padding-top: 82px;
  box-sizing: border-box;
}

.main-footer__subscribe-email {
  width: 524px;
  height: 44px;
  margin-bottom: 27px;
  padding: 12px 20px;
  background-color: #ffffff;
  border: solid 1px #7f8d9c;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.main-footer__subscribe-email:hover {
  border-color: #e43898;
}

.main-footer__subscribe-email:focus {
  border-color: #e43898;
}

.main-footer__subscribe-agreement {
  margin-bottom: 32px;
}

.main-footer__subscribe-checkbox {
  display: none;
  position: relative;
}

.main-footer__subscribe-agreement label {
  position: relative;
  padding-left: 34px;
  color: #0f2135;
  font-size: 16px;
}

.main-footer__subscribe-checkbox + label:before {
  width: 19px;
  height: 19px;
  display: block;
  position: absolute;
  top: -1px;
  content: '';
  border: 1px solid #7f8d9c;
  border-radius: 3px;
  cursor: pointer;
}

/*.main-footer__subscribe-checkbox + label:hover {
  border: 1px solid #e43898;
}*/

.main-footer__subscribe-checkbox + label:hover:before {
  border: 1px solid #e43898;
}

.main-footer__subscribe-checkbox:checked + label:before {
  content: '\2713';
  background-color: #e43898;
  border: none;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

.main-footer__subscribe-agreement label a {
  color: #e43898;
  text-decoration: none;
}

.main-footer__subscribe-agreement label a:hover {
  color: #9f0e60;
}

.main-footer__subscribe-button {
  height: 44px;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600; 
  cursor: pointer;
  box-sizing: border-box;
}

.main-footer__subscribe-button-agree {
  min-width: 183px;
  background-color: #e43898;
  color: #ffffff;
  border: solid 1px transparent;
}

.main-footer__subscribe-button-agree:hover {
  background-color: #9f0e60;
}

.main-footer__subscribe-button-disagree {
  min-width: 139px;
  background-color: #ffffff;
  border: solid 1px #e43898;
  color: #e43898;
}

.main-footer__subscribe-button-disagree:hover {
  background-color: #9f0e60;
  border: solid 1px transparent;
  color: #ffffff;
}

@media screen and (max-width: 1365px) and (min-width: 1000px) {
  .about__description {
    max-width: 666px;
  }

  .products__case {
    max-width: 250px;
  }

  .products__case-description {
    max-width: 200px;
  }

  .main-footer__information {
    max-width: 370px;
    margin-right: 30px;
  }

  .main-footer__information-notice {
    margin: 33px 0 0 0;
  }

  .main-footer__subscribe-email {
    max-width: 400px;
  }
}

@media screen and (max-width: 999px) and (min-width: 200px) {
  .main-header__logo-image {
    width: 110px;
  }

  .main-header__menu {
    display: none;
  }

  .main-header__menu-button {
    width: 30px;
    height: 21px; 
    display: block;
    background: url(../images/menu-button.svg) no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .main-header__menu-button:hover {
    width: 31px;
    height: 31px; 
    background: url(../images/menu-button-hover.svg) no-repeat;
  }

  .about__title {
    max-width: 340px;
    font-size: 32px;
  }

  .about__description {
    max-width: 340px;
    font-size: 18px;
  }

  .products__container {
    padding: 73px 30px 79px 30px;
    position: relative;
  }

  .products__slider {
    display: flex;
    position: absolute;
    top: 14%;
    right: 5%;
  }

  .products__slider-arrows {
    width: 39px;
    height: 11px;
    cursor: pointer;
  }

  .products__slider-arrows-left {
    margin-right: 16px;
    background: url('../images/arrow-left.svg') no-repeat;
  }

  .products__slider-arrows-left:hover {
    background: url('../images/arrow-left-hover.svg') no-repeat;
  }

  .products__slider-arrows-right {
    background: url('../images/arrow-right.svg') no-repeat;
  }

  .products__slider-arrows-right:hover {
    background: url('../images/arrow-right-hover.svg') no-repeat;
  }

  .products__case {
    min-width: 300px;
    margin-right: 25px;
  }

  .main-footer__container {
    flex-wrap: wrap;
    padding: 45px 30px 94px 30px;
  }

  .main-footer__information {
    width: 340px;
    margin-right: 30px;
    padding: 0;
  }

  .main-footer__information-notice {
    margin: 19px 0 29px 0;
  }

  .main-footer__subscribe {
    padding: 0;
  }

  .main-footer__subscribe-email {
    width: 340px;
  }
}
