@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.main-header {
  width: 100%;
  height: 100px;
  background-color: #0f2135;
}

.main-header__container {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

.main-header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-header__menu-item {
  list-style-type: none;
  padding-right: 54px;
}

.main-header__menu-item:last-child {
  padding-right: 0;
}

.main-header__menu-item a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 8px solid transparent;
  box-sizing: border-box;
  padding: 33px 0;
}

.main-header__menu-item a:hover {
  border-bottom: 8px solid #e43898;
  box-shadow: inset 0 -36px 10px -36px #e43898;
}

.main-header__menu-item a:active {
  color: #e43898;
}

.about {
  width: 100%;
  height: 436px;
  background: url(../images/wpapers-white-and-blue.jpg) no-repeat;
  background-size: cover;
}

.about__container {
  max-width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 99px;
}

.about__title {
  margin: 0 0 33px 0;
  padding: 0;
  font-size: 42px;
  font-weight: bold;
  color: #0f2135;
  text-align: center;
}

.about__description {
  margin: 0 0 31px 0;
  padding: 0;
  font-size: 28px;
  text-align: center;
  color: #0f2135;
}

.about__button {
  width: 225px;
  height: 58px;
  border-radius: 8px;
  background-color: #e43898;
  border: none;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.about__button:hover {
  background-color: #9f0e60;
}

.products {
  width: 100%;
  background-color: #f2f4f5;
}

.products__container {
  max-width: 1366px;
  height: 616px;
  padding: 73px 100px 79px;
  box-sizing: border-box;
}

.products__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  color: #0f2135;
}

.products__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__case {
  width: 352px;
  height: 397px; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0 rgba(15, 33, 53, 0.11);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__case-image {
  width: 100%;
  height: 163px;
  background-color: #d09595;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.products__case-wrapper {
  padding: 20px 25px 0 25px;
  box-sizing: border-box;
}

.products__case-date {
  margin-bottom: 11px;
  font-size: 14px;
  color: #7f8d9c;
}

.products__case-title {
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #0f2135;
}

.products__case-description {
  font-size: 14px;
  line-height: 1.43;
  color: #0f2135;
}

.products__case-button {
  width: 100%;
  height: 63px;
  padding-left: 25px;
  background-color: #ffffff;
  border: none;
  border-top: 1px solid #f2f4f5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: none;
  text-align: left;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #7f8d9c;
  background: url('../images/arrow-right.svg') no-repeat;
  background-position: 95% 50%;
}

.products__case-button:hover {
  background: url('../images/arrow-right-hover.svg') no-repeat;
  background-position: 95% 50%;
  color: #e43898;
}

.main-footer {
  width: 100%;
  height: 340px;
  background-color: #ffffff;
}

.main-footer__container {
  max-width: 1366px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
}

.main-footer__information {
  max-width: 523px;
  padding-top: 75px;
  box-sizing: border-box;
}

.main-footer__information-title {
  margin-bottom: 65px;
  font-size: 22px;
  line-height: 1.45;
  color: #0f2135;
}

.main-footer__information-notice {
  font-size: 14px;
  line-height: 1.43;
  color: #7f8d9c;
}

.main-footer__subscribe {
  padding-top: 82px;
  box-sizing: border-box;
}

.main-footer__subscribe-email {
  width: 524px;
  height: 44px;
  margin-bottom: 27px;
  background-color: #ffffff;
  border: solid 1px #7f8d9c;
  border-radius: 8px;
  color: #7f8d9c;
  font-size: 16px;
  padding: 12px 20px;
  box-sizing: border-box;
  outline: none;
}

.main-footer__subscribe-email:hover {
  border-color: #e43898;
}

.main-footer__subscribe-email:focus {
  border-color: #e43898;
  color: #0f2135;
}

.main-footer__subscribe-agreement {
  margin-bottom: 32px;
}
.main-footer__subscribe-checkbox {
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: solid 1px #7f8d9c;
}

.main-footer__subscribe-agreement label {
  font-size: 16px;
  color: #0f2135;
}

.main-footer__subscribe-agreement label a {
  color: #e43898;
  text-decoration: none;
}

.main-footer__subscribe-button {
  height: 44px;
  padding: 12px 35px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600; 
  cursor: pointer;
}

.main-footer__subscribe-button-agree {
  max-width: 183px;
  background-color: #e43898;
  color: #ffffff;
}

.main-footer__subscribe-button-agree:hover {
  background-color: #9f0e60;
}

.main-footer__subscribe-button-disagree {
  max-width: 137px;
  border: solid 1px #e43898;
  background-color: #ffffff;
  color: #e43898;
}

.main-footer__subscribe-button-disagree:hover {
  background-color: #9f0e60;
  border: none;
  color: #ffffff;
}






